@import "variable";

//通用
%font-color{
  color: $fontColor;
}
%font-color-hover{
  color: $fontColorHover;
}
%vertical-list{
  *{
    display: block;
  }
}
%horizon-list{
  *{
    display: inline-block;
  }
}
%float-left{
  float: left;
}
%float-right{
  float: right;
}
%float-clear{
  zoom: 1;
}
%container{
  width: 1180px;
  margin: 0 auto;
}
%vertical-top {
  vertical-align: top;
}
%text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
%horizon-flex-multi-line{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  //justify-content: space-around;
  //align-content: space-around;
}
%iconmoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
%iconmoon-add{
  content: '\ea0a';
}
%dark-back{
  background: #333333;
  opacity: 0.5;
  z-index: 1000;
  width: 100%;
  height: 9999px;
}


//主页头部
%header-background{
  background: $headerBackColor;
  height: 36px;
  border-bottom: 1px solid $borderColor;
}
%title{
  font-size: 24rem;
  font-weight: bold;
  line-height: #{$headerHeight}px;
}
%text{
  font-size: 16rem;
  line-height: #{$headerHeight}px;
  padding: 0 10px;
}
%text:last-child {
  padding: 0;
}

//主页main
%room{
  display: inline-block;
  background: $roomBackColor;

  width: 263px;
  height: 400px;
  margin-top: 30px;
  margin-right: 40px;
  border: 1px solid $borderColor;
  .room-container{
    margin: 20px 0;
    width: 100%;
    *{
      height: 90px;
      width: 100%;

      text-indent: 20px;
      font-size: 24rem;
      line-height: 90px;
    }
    *:hover{
      background: $roomLineBackColor;
    }
  }
}
%room-last-child{
  margin-right: 0;
}
%room:hover{
  box-shadow: 0 2px 6px #ccc;
}
%dotLineBox{
  width: 253px;
  margin: 4px;
  border: 1px dotted #ccc;
}
%roomIcon{
  display: block;
  line-height: 390px;
  text-align: center;
  font-size: 57rem;
}

//footer
%footer-top{
  background: $footerBackColor;
  margin-top: 30px;
}
%footer-text{
  text-align: center;
  line-height: 50px;
}

//login
%login-main{
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;

  overflow: hidden;
}
%float-window{
  width: 350px;
  height: 280px;

  border-radius: 20px;

  background: #333333;
  opacity: 0.8;

  position: absolute;
  left: 200px;
  top: 200px;

  overflow: hidden;

  p, span {
    color: #cccccc;
    font-size: 20rem;
  }
}
%tab-bar{
  height: 40px;
  width: 80%;

  padding: 0 10%;

  position: absolute;
  bottom: 0;

  background: #ccc;

  div{
    display: inline-block;
    padding: 0 5%;

    width: 20%;

    margin-top: 3px;

    transition: all 0.5s;

    a{
      color: #222222;
      line-height: 37px;
      text-align: center;

      display: inline-block;
      width: 100%;
    }
  }
  div:hover{
    box-shadow: 0px 2px 5px #333 inset;
  }

  .active{
    box-shadow: 0px 2px 5px #333 inset;
  }

  i{
    width: 24%;
    height: 3px;

    background: #000;

    position: absolute;
    left: 0;

    transition: all 0.5s;
  }
}
%tab-content{
  height: 239px;
  width: 100%;
  border-bottom: #000 1px solid;
  position: relative;
}
%log-form{
  width: 100%;
  height: 100%;
}
%log-div{
  margin-top: 20px;
  width: 100%;
  label{
    display: block;

    width: 80%;
    height: 100%;
    margin: 0 10%;
    * {
      display: inline-block;
    }
    span{
      width: 30%;
      line-height: 79px;
    }
    input{
      width: 69%;
      height: 30px;

      background: #000;

      color: #ccc;
      font-size: 16rem;
      text-indent: 10px;

      border: 1px solid #ccc;
      border-radius: 25px;

      outline: 0;
      box-shadow: 0px 0px 5px #ccc inset;

      margin: 23px 0;

      vertical-align: top;
    }
    input:focus{
      box-shadow: 0px 0px 15px #fff inset;
    }
  }
}

%submit{
  width: 80%;
  height: 60px;

  margin: 0 10%;

  position: relative;

  span{
    line-height: 36px;
    font-size: 14rem;
  }
  button{
    width: 100px;
    height: 40px;

    position: absolute;
    right: 0;

    background: linear-gradient(to bottom,#222,#000);

    border: 1px solid #111;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 1px 1px rgba(255,255,255,.15);
    outline: 0;

    color: #fff;
    font-size: 18rem;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
  }
  button:active{
    border-color: #181818;
    //box-shadow: 0 1px 0 rgba(255,255,255,.06), inset 0 1px 2px rgba(0,0,0,.2);
    background: linear-gradient(#000 0%,#222 100%);
  }
}

%login{
  position: absolute;
  left: 0;
}
%register{
  position: absolute;
  left: 100%;
}